[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
    name = ${GIT_USER_NAME}
    email = ${GIT_USER_EMAIL}
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
