[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ben Schreiber
	email = ben.schreiber@pagaya.com
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
